body {
	font-family: $montserrat-alternates;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #3e3b3b;
}
a {
	color: inherit;
}
.container {
	max-width: 1470px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
}
.btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	border: 1px solid #ffbe2e;
	border-radius: 999px;
	padding: 18px 39px 18px 39px;
	background-color: #ffbe2e;
	box-shadow: 0px 3px 26px rgba(255, 190, 46, 0.8);
	&--secondary {
		background-color: #ffffff;
	}
	&--sm {
		padding: 16px 32px;
	}
	&--md {
		padding: 26px 40px;
	}
	&--lg {
		padding: 37px 50px;
		font-size: 30px;
	}
	&--block {
		width: 100%;
		display: block;
	}
}
.title {
	font-weight: 800;
	font-size: 45px;
	text-align: center;
	line-height: 60px;
	& span {
		color: #ffbe2e;
	}
}

//===========================
.checkbox {
	display: inline-block;
	user-select: none;
	font-weight: 300;
	font-size: 14px;
	position: relative;
	padding-left: 35px;
	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked ~ .checkbox__mark::after {
			display: inline-block;
		}
		&:not(:disabled):not(:checked) ~ .checkbox__mark:hover {
			background-color: #fff6e3;
		}
	}
	&__mark {
		display: inline-block;
		width: 22px;
		height: 22px;
		border: 1px solid #ffbe2e;
		border-radius: 50px;
		position: absolute;
		top: 4px;
		left: 0;
		&::after {
			content: "";
			display: none;
			background: no-repeat url(/src/assets/img/modal2.svg);
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0px;
			left: 4px;
		}
	}
}
