.tabs {
	&__buttons {
		display: flex;
	}
	&__btn {
		background-color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 40px 40px 0px 0px;
		padding: 27px 0px;
		flex: 1 1 50%;
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;
		&--disable {
			background-color: #ffeecc;
			font-weight: 400;
		}
	}
	&__wrapper {
		background-color: #ffffff;
		border-radius: 0px 0px 40px 40px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 50px;
		gap: 30px;
		position: relative;
		&--open {
			padding-bottom: 240px;
		}
	}
	&__options {
		display: none;
		justify-content: space-between;
		padding: 0 50px 50px 50px;
		&--open {
			display: flex;
		}
	}
}

.select {
	display: flex;
	flex-direction: column;
	width: 424px;

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 20px;
	}
	&__btn {
		width: 100%;
		padding: 30px;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #3e3b3b;
		text-align: left;
		background-color: #ffeecc;
		border: 1px solid #ffbe2e;
		border-radius: 999px;

		&--open {
			background-color: #ffbe2e;
			border-radius: 40px 40px 0px 0px;
			height: 111px;
		}
		&--with-border {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: calc(50% - 10px);
				right: 30px;
				border-style: solid;
				border-width: 20px 13.5px 0 13.5px;
				border-color: #3e3b3b transparent transparent transparent;
			}
		}
	}
	&__inner {
		position: absolute;
		left: 53px;
		top: 218px;
		width: 1337px;
		height: 201px;
		background-color: #ffbe2e;
		border-radius: 40px 0px 40px 40px;
		display: none;
		&--open {
			display: block;
		}
	}
	&__box {
		display: flex;
		position: absolute;
		left: 40px;
		top: 50px;
	}
	&__box-btn {
		display: flex;
		background-color: #ffeecc;
		border-radius: 40px;
		//width: 390px;
		align-items: center;
		padding: 24px 93px;
		text-align: left;
		justify-content: center;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__box-img {
		margin-right: 19px;
	}
	&__box-title {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		color: #3e3b3b;
	}
	&__box-text {
		align-self: flex-start;
	}
}

.quantity {
	display: flex;
	flex-direction: column;
	position: relative;
	&::before,
	&::after {
		position: absolute;
		right: 32px;
		pointer-events: none;
	}
	&::before {
		content: "";
		border-style: solid;
		border-width: 17px 11.5px 0 11.5px;
		border-color: #3e3b3b transparent transparent transparent;
		top: 103px;
	}
	&::after {
		content: "";
		border-style: solid;
		border-width: 0 11.5px 17px 11.5px;
		border-color: transparent transparent #ffbd2e transparent;
		top: 78px;
	}
	& label {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		color: #3e3b3b;
		margin-bottom: 20px;
	}
	&__input {
		background-color: #ffeecc;
		border: 1px solid #ffbe2e;
		border-radius: 41px;
		padding: 30px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #3e3b3b;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	padding: 0 5px;
	height: 50px;
	opacity: 0;
}

.computation {
	display: none;
	&--open {
		display: block;
		padding: 0px 50px 50px 50px;
	}
	&__menu {
		display: flex;
		margin-bottom: 42px;
		align-items: flex-end;
	}
	&__calc {
		display: flex;
		flex-direction: column;
		margin-right: 43px;
		& label {
			font-weight: 600;
			font-size: 30px;
			line-height: 37px;
			color: #3e3b3b;
			margin-bottom: 20px;
		}
	}
	&__btn {
		padding: 30px; //+++
		align-items: center;
		margin-right: 82px;
		margin-left: 43px;
		font-weight: 500;
		text-align: left;
		background-color: transparent;
		border: none;
		display: flex;
	}
	&__add-icon {
		position: relative;
		margin-right: 22px;
		display: block;
		&::before,
		&::after {
			content: "";
			display: block;
			// position: absolute;
			width: 70px;
			height: 10px;
			background-color: #ffbe2e;
			border-radius: 999px;
			//left: calc(50% - 5px);
		}
		&::after {
			position: absolute;
			transform: rotate(90deg) translateX(-7px);
		}
	}

	&__discont {
		display: flex;
		margin-bottom: 40px;
	}
	&__discont-text {
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		color: #000000;
		margin-right: 10px;
		display: flex;
		align-items: center;
	}
	&__discont-btn {
		background-color: inherit;
	}
	&__text {
		font-weight: 400;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 50px;
		& span {
			color: #ffbe2e;
		}
	}
	&__choice {
		display: flex;
		justify-content: space-between;
		margin-bottom: 62px;
	}
	&__choice-item {
		border-radius: 40px;
		border: 1px solid #ffbe2e;
		//padding: 17px 34px 36px 61px;
		transition: all 0.5s;
		&--border {
			border: 1px solid #3e3b3b;
		}
		&:hover {
			background-color: #ffeecc;
		}
	}
	&__choice-title {
		display: flex;
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		background-color: #ffbe2e;
		padding: 17px 62px;
		border-radius: 40px;
		&--secondary {
			background-color: #3e3b3b;
			& p {
				color: #ffffff;
			}
		}
		& p {
			max-width: 284px;
			margin-right: 86px;
		}
	}
	&__choice-price {
		padding: 25px 34px 36px 61px;
		display: flex;
		justify-content: space-between;
	}
	&__choice-text {
		font-weight: 800;
		font-size: 25px;
		line-height: 30px;
	}
	&__content {
	}
	&__content-title {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 28px;
	}
	&__content-box {
		display: flex;
	}
	&__content-subtitle {
		margin-right: 18px;
		min-width: 480px;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__content-text {
		font-size: 25px;
		line-height: 30px;
		width: 654px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
